<%= form_for @project do |f| %>
  <div id="project">
    <div class="col-lg-6">
      <div class="well bs-component">
        <form class="form-horizontal">
          <fieldset>
            <legend> Create a new project </legend>

            <div class="form-group">

              <%= f.label :name, class: "control-label" %>

              <%= f.text_field :name, class: "form-control" %>

            </div>

            <div class="form-group">

              <%= f.label :description, class: "control-label" %>

              <%= f.text_area :description, class: "form-control", rows: "4" %>

            </div>

            <div class="form-group">

              <%= f.label :contact, class: "control-label" %>

              <%= f.text_area :contact, class: "form-control" %>

            </div>

            <div class="form-group">

              <%= f.label :url, class: "control-label" %>

              <%= f.text_field :url, class: "form-control" %>

            </div>

            <div>
              <br>
              <%= f.submit "Submit", class: "btn btn-primary btn-block" %>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>


<% end %>

