<% Project.all.each do |project| %>
  <p>
    <%= project.name %>
  </p>

  <p>
    <%= project.description %>
  </p>

  <p>
    <%= project.contact %>
  </p>

  <% if current_user == project.user %>
    <%= link_to 'Edit', edit_project_path(project) %>
  <% end %>

  <%= link_to 'Project homepage', project.url %> |
  <% if project.user_liked? current_user %>
      I think this project is cool.
  <% else %>
      <%= link_to 'This Is Cool', this_is_cool_path(project_id: project.id), method: :post %>
  <% end %>
<% end %>
