<% Project.all.each do |project| %>

  <div class="panel panel-success" id="project">

    <div class="panel-heading">
      <h2 class="panel-title">

        <%= project.name %>

      </h2>
    </div>

    <div class="panel-body">

      <%= project.description %>

      <%= project.contact %>

      <div class="btn-group navbar-right" >

        <% if current_user == project.user %>
          <%= link_to 'Edit', edit_project_path(project), class: "btn btn-sm btn-success" %>
        <% end %>

        <%= link_to 'Visit', project.url, class: "btn btn-sm btn-warning" %>

      </div>

      <div class="panel-body">
        <% project.comments.each do |comment| %>
            <blockquote class="blockquote">
              <p> <%= comment.body %> </p>
              <footer> <%= comment.user.github_username %> </footer>
            </blockquote>
        <% end %>
      </div>
    </div>

    <div class="panel-body">
      <% if current_user %>
        <%= form_for [project, Comment.new], html: { class: "form-inline" }  do |f| %>
          <div class="form-group">
            <%= f.text_field :body, placeholder: "I like this because...." %>
          </div>
          <%= f.submit "GO"  %>
        <% end %>
      <% end %>
    </div>

  </div>

<% end %>
