<br>
<% Project.all.each do |project| %>
  <p>
   Project name: <%= project.name %>
  </p>

  <p>
    Project Description: <%= project.description %>
  </p>

  <p>
   Author: <%= link_to project.user.github_username, profile_path %>
  </p>

  <p>
   Contact person: <%= project.contact %>
  </p>

  <% if current_user == project.user %>
    <%= link_to 'Edit', edit_project_path(project) %>
  <% end %>

  <%= link_to 'Project homepage', project_path(project) %>
  <hr>
<% end %>
