<% Project.all.each do |project| %>
  <div class="panel panel-success" id="project">

    <div class="panel-heading">
      <h2 class="panel-title">
        <%= link_to project.user.github_username, profile_show_path(project.user.github_username) %>/<%= project.name %>
      </h2>
    </div>

    <div class="panel-body">

      <%= project.description %>

      <%= project.contact %>

      <div class="btn-group navbar-right" >

        <% if current_user == project.user %>
          <%= link_to 'Edit', edit_project_path(project), class: "btn btn-sm btn-success" %>
        <% end %>

        <%= link_to 'Visit', project.url, class: "btn btn-sm btn-warning" %>

      </div>

      <div class="panel-body">
        <% project.comments.each do |comment| %>
            <blockquote class="blockquote">
              <div class="author_info">
                <%= github_avatar_for(comment.user.github_username) %>
                <%= comment.user.github_username %> ・
                <span><%= comment.created_at.strftime("%a, %d %b %l:%M %P") %></span>
              </div>
              <p class="comment_body"> <%= comment.body %> </p>
            </blockquote>
            <!-- <hr> -->
        <% end %>
      </div>

      <div class="panel-body">
        <% if current_user %>
          <%= form_for [project, Comment.new], html: { class: "form-inline" }  do |f| %>
          <blockquote class="blockquote">
            <div class="form-group input-group">
              <%= github_avatar_for(current_user.github_username) %>
              <%= f.text_field :body, placeholder: "I like this because....", html: { class: "comment_box"  } %>
                <%= f.submit "Post"  %>
            </blockquote>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


  </div>
<% end %>
