
  <p>
    <%= @project.name %>
  </p>

  <p>
    <%= @project.description %>
  </p>

  <p>
    <%= @project.contact %>
  </p>

   <p>
    <%= link_to @project.user.name, profile_path %>
  </p>

  <%= link_to 'Project homepage', @project.url %>
