
  <p>
    Project name: <%= @project.name %>
  </p>

  <p>
    Project Description: <%= @project.description %>
  </p>

  <p>
    Contact person: <%= @project.contact %>
  </p>

   <p>
    Author: <%= link_to @project.user.name, profile_path %>
  </p>

  <%= link_to 'Project homepage', @project.url %>
